body {
  width: 320px;
}
/* +++++++++++ HEADER - Welcome ++++++++++++ */
.welcome {
  width: 100%;
  height: 389px;
  background-color: #dbe9f2;
  background-image: url(../img/text-index.png), url(../img/back-mobile.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center bottom;
}
