.btn {
  display: block;
  padding: 19px 0;
  .title-bold();
  .blue();
  border: none;
  &:hover {
    background-color: @color-lightbluehover;
  }

  &:active {
    color: #88b6d1;
    background-color: @color-lightblueactive;
  }
}