.fithures-content {
  box-sizing: border-box;
  
  &--blue {
    .blue();
   }
}

// .fithures__title {
//   margin: 42px 0 32px 0;
//   padding: 0 30px;
// }

// .fithures__text {
//   margin-bottom: 46px;
//   line-height: 26px;
// }

.fithures-content__text {
  flex-basis: 256px;
  border-top: 1px solid transparent;
  padding-bottom: 21px;
}

.fithures-content__title {
  margin: 42px 0 18px 0;
}

.fithures__subcontent {
  display: flex;
  margin: 0;
  padding: 0 20px;
}

.subcontent__container {
  padding-bottom: 40px; 
}

.fithures-subcontent__title,
.fithures-subcontent__text {
  position: relative;
  margin: 0;
  padding-left: 50px;
  text-align: left;
  &::before {
    position: absolute;
    left: 0;
    top: -5px;
    content: "";
    background-position: center center; 
    background-repeat: no-repeat;
  }
}

.home::before {
  width: 37px;
  height: 36px;
  background-image: url(../img/icon-house.svg);
}

.food::before {
  width: 38px;
  height: 34px;
  background-image: url(../img/icon-burger.svg);
}

.souvenirs::before {
  width: 32px;
  height: 37px;
  background-image: url(../img/icon-gift.svg);
}

.fithures-subcontent__title {
  margin: 36px 0 22px;
}

.fithures-content__grey {
  background-color: #eeeeee;
  
}

.fithures-content__grey .fithures-content__text {
  margin: 0 20px;
  border-bottom: 1px solid #d6d6d6;
  
}

.fithures-content__grey .fithures-content__text:last-child {
  border-bottom: 0;
}

.fithures-content__image {
  height: 256px;
  overflow: hidden;
}

@media (min-width: @width-tablet) {
 
  .fithures-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .fithures-content__text {
    flex-basis: 256px;
  }

  .fithures__title {
    margin: 51px 0 42px 0;
    
  }
  .fithures__text {
    margin-bottom: 52px;
  }

  .fithures-content__image {
    flex-basis: 512px;
    // height: 256px;
    // overflow: hidden;
  }

  .subcontent__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px; 
  }
  
  .fithures-subcontent__title,
  .fithures-subcontent__text {
    padding: 0 40px;
    text-align: center;
    &::before {
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }

  .fithures-subcontent__title {
    padding-top: 102px;
  }

  .home::before {
    width: 75px;
    height: 72px;
    background-image: url(../img/icon-house.svg);
  }
  
  .food::before {
    width: 77px;
    height: 68px;
    background-image: url(../img/icon-burger.svg);
  }
  
  .souvenirs::before {
    width: 74px;
    height: 75px;
    background-image: url(../img/icon-gift.svg);
  }
  
  .fithures-subcontent__title {
    margin: 36px 0 22px;
  }

  .fithures-content__grey .fithures-content__text {
   border-bottom: 0;
    
  }
  
}

@media (min-width: @width-desktop) {
  .fithures-content__text {
    flex-basis: 400px;
  }

  .fithures-content__image {
    flex-basis: 800px;
  }

  .fithures-subcontent__title,
  .fithures-subcontent__text {
    padding: 0 50px;
  }

  .fithures-subcontent__title {
    padding-top: 105px;
  }

  .subcontent__container {
    padding-bottom: 83px; 
  }

  .mobile-menu__logo {
    width: 187px;
    height: 96px;
}
}