.footer {
  padding: 40px 60px 20px;
}

.footer__footer-logo {
  margin-bottom: 39px;
}

.footer__footer-logo  a{
  .title-bold();
  font-size: 21px;
  text-decoration: none;
}

.footer__social ul {
  display: flex;
  justify-content: center;
  
}

.footer-social__item {
  width: 46px;
  height: 48px;
  margin-right: 6px;
  margin-bottom: 40px;
  font-size: 0;
  background-color: @color-lightblue;
  cursor: pointer;
  &:hover {
    background-color:#669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.footer-social__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.icon {
  cursor: pointer;
  color: #ffffff;
  &:active {
    color: #88b6d1;
  }
}

.twitter {
  width: 18px;
  height: 14px;
  
}

.facebook {
  width: 9px;
  height: 18px;
  
}

.youtube {
  width: 20px;
  height: 14px;
  
}

.academy {
  width: 27px;
  height: 34px;
  color: #000000;
  &:hover {
    color: @color-lightblue;
  }
  &:active {
    color: #b2b2b2;
  }
}

.footer__text a {
  font-size: 0;
}