.review {
  padding: 40px 20px 38px;

  @media (min-width: @width-tablet) {
    padding: 77px 60px 56px;
  }

  @media (min-width: @width-desktop) {
    padding: 114px 100px 63px;
  }
}

.review__title {
  margin-bottom: 31px;
}