/* +++++++++++ HEADER - Welcome ++++++++++++ */

.welcome {
  width: 100%;
  height: 389px;
  background-color: #dbe9f2;
  background-image: url(../img/text-index.png), url(../img/back-mobile.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center bottom;
}

.wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0 20px;
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.title {
  font: 700 18px/26px "PT Sans", "Arial", sans-serif;
  color: @color-black;
  &--white {
    color: #ffffff;
  }
}



.text {
  font: 14px/26px "PT Sans", "Arial", sans-serif;
  color: @color-dark;
  &--white {
    color: #ffffff;
  }
}

.fithures-content {
  background-color:#eeeeee;
  &--blue {
    background-color: #81b3d2;
   }
}
