.font-normal {
  font-family: "PT Sans Narrow";
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  color: @color-black;
  text-transform: uppercase;
}

.font-bold {
  font-family: "PT Sans Narrow";
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: @color-black;
  text-transform: uppercase;
}