.review {
  padding: 40px 20px 38px;

  @media (min-width: @width-tablet) {
    padding: 77px 60px 56px;
  }

  @media (min-width: @width-desktop) {
    padding: 114px 100px 63px;
  }
}

.review__title {
  margin-bottom: 31px;
  @media (min-width: @width-tablet) {
    font-size: 30px;
  }

  @media (min-width: @width-desktop) {
    margin-bottom: 35px;
  }
}

.review__text {
  margin: 0;
  padding-bottom: 18px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: @width-tablet) {
    border-bottom: 0;
  }
}

