.gallery {
  width: 320px;
}

.gallery .section-header {
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.photo {
  display: flex;
  flex-wrap: wrap;
}

.photo__item {
  width: 320px;
  margin: 0;
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.photo__item picture {
  font-size: 0;
  line-height: 0;
}

.photo__subtitle {
  margin: 18px 0 10px 0;
  
}

.photo__author {
  margin: 0;
  margin-bottom: 14px;
  text-transform: none;
}

.photo__like {
  position: relative;
  padding-left: 37px;
  &::before {
    position: absolute;
    left: 0;
    top: -2px;
    content: "";
    width: 24px;
    height: 22px;
    background: url(../img/icon-like.svg) center no-repeat; 
    opacity: 0.3;
  }
  &:hover::before {
    cursor: pointer;
    opacity: 1;
  }
}

.video-header {
  margin-bottom: 36px;
  padding-top: 35px;
}

.images {
  object-fit: cover;
}

.video {
  overflow: hidden;
  &__poster {
    position: relative;
    & picture {
      display: block;
      width: 100%;
    }
  }
}



// MEDIA

@media (min-width: @width-tablet) {
  .gallery {
    width: 100%;
  }
  
  .gallery .section-header {
    padding-bottom: 0;
    border: 0;
  }
  
  .photo {
    width: 648px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .photo__item {
    display: block;
    width: 324px;
    padding: 0px;
    border-bottom: 0;
    box-sizing: border-box;
  }

  .photo__item:first-child {
    width: 648px;
    height: 402px;
  }
    
  .video-header {
    margin-bottom: 6px;
    padding-top: 65px;
  }
  
  // .br {
  //   display: block;
  // }
}

@media (min-width: @width-desktop) {
  section.gallery {
    padding: 110px 0 63px 0;
  }

  .photo {
    width: 1200px;
  }

  .photo__item {
    position: relative;
    display: block;
    width: 400px;
    height: 267px;
    padding: 0px;
    border-bottom: 0;
    box-sizing: border-box;
  }

  .photo__item:first-child {
    // position: relative;
    width: 1200px;
    height: 400px;
  }

  figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 20px 29px 20px 20px;
    color: @color-white;
    box-sizing: border-box;
  }

  .photo__like {
    // position: relative;
    // padding-left: 37px;
    &::before {
      // position: absolute;
      // left: 0;
      // top: -2px;
      // content: "";
      // width: 24px;
      // height: 22px;
      // background: url(../img/icon-like.svg) center no-repeat;
      color: @color-white;
      // fill:  @color-white; 
      opacity: 1;
    }
    &:hover::before {
      opacity: 0.5;
    }
  }
  
}