.video-container {
  position: relative;
  width: 320px;
  height: 267px;
}

.video {
  position: absolute;
  bottom: 0;
  left: 0;
  // height: 100%;
}

video[poster]{
  height:100%;
  width:100%;
  background: url(../img/photo/poster-mobile.jpg) no-repeat;
  background-size: cover;

  &:-webkit-full-screen  {
    background: none;
  }

  &:-moz-full-screen {
    background: none;
  }
}

.video-controls {
  position: absolute;
  left: 20px;
  bottom: -66px;
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: 66px;
  padding: 0 23px;
  background-color: #f2f2f2;
  box-sizing: border-box;

  &:-webkit-full-screen {
    left: 0px;
    bottom: 0px;
    // display: none;
    // align-items: center;
    // justify-content: space-between;
    width: 100%;
    height: 93px;
    padding: 0 42px;
    background-color: #656565;
    // box-sizing: border-box;
  }
  &:-moz-full-screen {
    left: 0px;
    bottom: 0px;
    // display: none;
    // align-items: center;
    // justify-content: space-between;
    width: 100%;
    height: 93px;
    padding: 0 42px;
    background-color: #656565;
    // box-sizing: border-box;
  }
}

.video-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 200;
}

.btn-replay {
  width: 16px;
  height: 20px;
  fill: #5c6870;
  &:hover {
    fill: @color-dark;
  }

  &:active {
    fill: #b8b8b8;
  }
}

.subtitles {
  margin-left: auto;
}

.btn-subtitles {
  width: 32px;
  height: 20px;
  fill: #5c6870;
  &:hover {
    fill: @color-dark;
  }

  &:active {
    fill: #b8b8b8;
  } 
 
}

.btn-fullscreen {
  width: 20px;
  height: 20px;
  margin-left: 31px;
  fill: #5c6870;
  &:hover {
    fill: @color-dark;
  }

  &:active {
    fill: #b8b8b8;
  }
}

.volume-container {
  position: absolute;
  top: -45px;
  left: 0;
  width: 280px;
  height: 45px;
  background-color: @color-black;
  opacity: 0.6;
}

.volume-slider {
  -webkit-appearance: none;
  position: relative;
  width: 235px;
  height: 3px;
  margin-top: 22px;
  background-color: #838383;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border-radius: 50%;
}

.volume-btn {
  position: absolute;
  top: 9px;
  left: 0;
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border: 0;
  border-radius: 50%;
}

// .volume {
//   -webkit-appearance: none;
//   width: 235px;
//   height: 3px;
//   margin-top: 22px;
//   background-color: #838383;
 
// }

// .volume::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   width: 9px;
//   height: 9px;
//   background-color: #ffffff;
//   border-radius: 50%;
//   opacity: 1;
//   z-index: 200;
// }

// MEDIA

@media (min-width: @width-tablet) {
  .video-container {
    width: 648px;
    height: 499px;
  }
    
  video[poster]{
    height:100%;
    width:100%;
    background: url(../img/photo/poster-tablet.jpg) no-repeat;
  }
  
  
  .video-controls {
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 93px;
    padding: 0 34px;
    box-sizing: border-box;
    background-color:transparent;
    // opacity: 0.6;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: @color-black;
      opacity: 0.6;
    }
    
  }
  .btn-replay {
    width: 16px;
    height: 20px;
    fill: @color-white;
    &:hover {
      fill: #c2c2c2;
    }
  
    &:active {
      fill: #949494;
    }
  }
  
  .subtitles {
    margin-left: auto;
  }
  
  .btn-subtitles {
    width: 32px;
    height: 20px;
    fill: @color-white;
    &:hover {
      fill: #c2c2c2;
    }
  
    &:active {
      fill: #949494;
    }
  }
  
  .btn-fullscreen {
    width: 20px;
    height: 20px;
    margin-left: 31px;
    fill: @color-white;
    &:hover {
      fill: #c2c2c2;
    }
  
    &:active {
      fill: #949494;
    }
  }

  .volume-container {
    top: 35px;
    left: 93px;
    width: 389px;
    height: 20px;
    background-color: transparent;
    opacity: 1;
  }
  
  .volume-slider {
    -webkit-appearance: none;
    width: 389px;
    height: 3px;
    margin-top: 3px;
    // opacity: 1;
    // background-color: #fff;
  }

  // .volume {
  //   -webkit-appearance: none;
  //   width: 389px;
  //   height: 3px;
  //   margin-top: 3px;
  //   opacity: 1;
  //   background-color: #fff;
   
  // }
  
  // .volume::-webkit-slider-thumb {
  //   -webkit-appearance: none;
  //   width: 9px;
  //   height: 9px;
  //   background-color: #ffffff;
  //   border-radius: 50%;
  //   opacity: 1;
  //   z-index: 100;
  // }
}

@media (min-width: @width-desktop) {
  .video-container {
    width: 800px;
    height: 500px;
  }

  video[poster]{
    background: url(../img/photo/poster-desktop.jpg) no-repeat;
  }

  // .video-controls {
  //   width: 100%;
  //   padding: 0 34px;
    
  // }
}